mixin infoItem(para, span)
   .info-item.padd-15
      p= para  
         span= span

mixin skillItems(skill, percentage)
   .skill-item.padd-15 
      h5= skill
         .progress 
            div(class="progress-in" style="width: 70%;")
            .skill-percent= percentage

mixin timelineItem(timeline, timelineTitle, timelineDesc)
   .timeline-item
      .circle-dot    
      h3(class="timeline-date")
         i.fa.fa-calendar 
         | #{timeline}
      h4(class="timeline-title")= timelineTitle 
      p.timeline-text 
         | #{timelineDesc}
section#about.about.section 
   .container 
      .row 
         .section-title.padd-15 
            h2 About Me
      .row 
         .about-content.padd-15
            .row 
               .about-text 
                  h3 I'm Ishtiaq Naqi 
                     span Web Designer and Developer 
                  p Lorem ipsum dolor sit, amet consectetur adipisicing elit. Cum corrupti earum eius quas praesentium placeat dolorum dolor molestiae perferendis. Rem sequi excepturi dicta sit eius.
            .row 
               .personal-info.padd-15 
                  .row 
                     - let paras = ["Birthday:", "Age:", "Website:", "Email:", "Degree:", "Phone:", "City:", "Freelance"]
                     - let spans = ["25 May 1999", "22 Years", "www.google.com", "ih.naqi@outlook.com", "BS Computer Sciences", "+923045114480", "Chitral", "Available"]
                     for para, i in paras
                        + infoItem(para, spans[i])
                  .row 
                     .buttons 
                        a(href="#contact" data-section-index=1 class="btn hire-me") Hire Me       
               .skills.padd-15
                  .row
                     - let skills = ["JAVA", "PYTHON", "C/C++", "HTML/CSS", "JavaScript", "Bootstrap", "NODE JS", "Angular", "REACT"]
                     - let percentages = ["90%", "60%", "95%", "70%", "75%", "50%", "40%", "40%", "50%"]

                     for skill, i in skills 
                        + skillItems(skill, percentages[i])
            .row  
               .education.padd-15
                  h3.title Education  
                  .row  
                     .timeline-box.padd-15 
                        .timeline.shadow-dark
                           //- timeline items
                           - let durations = ["2013 - 2015", "2013 - 2015", "2013 - 2015"]
                           -let timelineTitle = ["SSC", "HSSC", "BSCS"]
                           - let timelineDesc = ["I completed my secondary school certificate (SSC) from Aga Khan Higher Secondary School Seenlasht, Chitral KPK.", "I did my intermediate (HSSC) from Government Degree College Chitral. I studied Mathematics, Physics and Chemistry during my HSSC in Government College for Boys Chitral.", "I'm currently pursuing an undergraduate degree in computer sciences from Institute of Business Administaraion (IBA) Karachi."]

                           for duration, i in durations 
                              + timelineItem(duration, timelineTitle[i], timelineDesc[i])
               .experience.padd-15
                  h3.title Experience
                  .row  
                     .timeline-box.padd-15 
                        .timeline.shadow-dark
                           //- timeline items
                           - durations = ["2004 - 2013", "2019 - 202", "2022 - 2002"]
                           - timelineTitle = ["WWF-Pakistan", "Aga Khan Development Network", "Siddique Memon Foundation"]
                           - timelineDesc = ["I have been member \"Nature Club\", an initiative taken by WWF-Pakistan to cope will poaching of migratory birds and little local birds.", "I have worked with AKDN as a volunteer during the COVID-19 outbreak in the Islamabad region.", "I worked with Siddique memon foundation as a social intern during summers 2022."]

                           for duration, i in durations 
                              + timelineItem(duration, timelineTitle[i], timelineDesc[i])